.page-row{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    background-color: lightskyblue;
    height: 40vh;
    margin-bottom: 10%;

    
}

.page-row p {
    text-align: center;
    color: white;
}

.page-row h1{
    text-align: center;
    color: white;
    margin-top: 5%;
}

.page-row div{
    width: 100%;
}

.page-row i {
    margin-left: 45%;
    font-size: 38px;
    color: white;
    margin-top: 10%;
}