.add-product-page{
    border: lightskyblue;
    width: 60%;
}

.section-new h1{
    margin-bottom: 5%;
    color: white;
}


/* responive */

@media(max-width:1340px){
    .add-product-page{
        margin-top: 50%;
    }
}