.all{
    display: flex;
    flex-direction: column;
  }

  .cart-items{
    /* width: 20%;
    margin-left: 30%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 10%;
  }
  .cart-items img{
      width: 100%;
    }

   .cart-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 6vh;
    text-align: center;
    /* position: absolute; */
    /* bottom: 11%;
    left: 26%; */
   
    } 
  

  
    .clearc{
      background-color: white;
      padding: 10px;
      /* margin-left: 28%; */
      /* margin-top: 10%; */
      border: 2px solid white;
      border-radius: 5px;
      background-color: lightskyblue;
      color: white; 
  }
  
  .clearc:hover{
      color: lightskyblue;
      background-color: white;
  }
  

  .trigger-new-one{
    background-color: white;
    padding: 10px;
    /* margin-left: 28%; */
    /* margin-top: 10%; */
    border: 2px solid white;
    border-radius: 5px;
    background-color: lightskyblue;
    color: white; 
}

.trigger-new-one:hover{
    color: lightskyblue;
    background-color: white;
}

.deleteItem{
  background-color: white;
  padding: 10px;
  margin-left: 28%;
  margin-top: 5%;
  /* margin-top: 10%; */
  border: 2px solid white;
  border-radius: 5px;
  background-color: lightskyblue;
  color: white; 
}

.deleteItem:hover{
  color: lightskyblue;
  background-color: white;
}


.cart-total{
  /* margin-left: 45%; */
  font-size: 40px;
}


@media(max-width:1340px){

  .cart-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: absolute; */
    /* bottom: 14%; */
    /* left: -8%; */
    margin-bottom: 30px;
    padding: 10px;
}
   
    } 

    .trigger-new-one{
      display: flex;
    }
  .mainh{
    /* margin-top: 18%; */
    /* text-align: center; */
    /* margin-left: 32%; */
}
  

  