* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body{
      display: grid;
      height: 100vh;
  }

  .top-all{
      display: flex;
      justify-content: space-between;
      background-color: lightskyblue;
  }

  .top-all button{
      border: none;
  }

  .topnav {
    background-color:lightskyblue;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* overflow: visible; */
    z-index: 20;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 10%);
    /* margin-bottom: 5%; */
    height: 10vh;
  }

  .index-nav a{
      padding :10px;
      border: 2px solid lightskyblue;
  }

  .topnav span{
      color: white;
  }

  .loghead{
      margin-left: 12.5%;
      margin-bottom: 1%;
  }
  .under-div{
      display: flex;
      flex-direction: row;
      margin-left: -15%;
      margin-top: 12vh;
      /* margin-bottom: 1%; */
  }

  

  .under-div input{
      width: 35%;
     margin-right: 5px; 
     max-height: 50px;
  }
  
  .under-div button{
      padding: 10%;
  }

  .under-div h1{
    margin-top: 1%;  
    margin-right: 5%;
    margin-left: 33%;
  }
  /* Style the links inside the navigation bar */
  .topnav > a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* .mainh{
      /* font-size: 20px; */
      /* text-decoration: none; */
      /* color: black; */
      /* margin-top: 6%; */
      /* margin-left: 45%; */
      /* text-align: center; */
  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: white;
    color: lightskyblue;
  }
.login-form{
    display: flex;
    justify-content: flex-end;
    background-color:lightskyblue;
    /* margin-top: 16px; */
    margin-left: 100px;
   
}

.login-form label{
    color: white;
}

.login-form button{
    
    background-color: white;
    border-radius: 3px;
    border: 2px solid white;
    padding: 1px;
    margin-right: 5px;
    background-color: lightskyblue;
    color: white;
}

.login-form button:hover{
    color: lightskyblue;
    background-color: white;
}

.login-form a {
    text-decoration: none;
    /* color: black;  */
}

.login-form input{
    border: 3px solid white;
    color: grey;
}

.register-container{
    width: 50%;
    justify-self: center;
     border: 2px solid lightskyblue; 
     padding: 1%;
     height: 70vh;
     background-color: lightskyblue;
    /* text-align: center; */
    color: white;
    border-radius: 10px;
}  
#formreg{
    font-size: 25px;
}

#formreg button{
    margin-left: 43%;
    padding: 10px;

      
    background-color: white;
    border-radius: 3px;
    border: 2px solid white;
    /* padding: 1px; */
    /* margin-right: 5px; */
    background-color: lightskyblue;
    color: white;
    border-radius: 10px;
}

#formreg button:hover{
    color: lightskyblue;
    background-color: white;
    
}

#formreg div{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5%;
}

#formreg label{
    margin-left: 25%;
    margin-top: 2%
}

#formreg input{
    grid-column: 2/3;
/* margin-left: 10%; */
margin-top: 2%;
margin-bottom: 2%;
margin-right:25% ;
border: 1px solid white;
}

.all{
   width: 33%;
   border: 1px solid lightskyblue;
   border-radius: 10px;
   text-align: left;
   box-shadow: 10px black;
   /* padding: 10px; */
   background-color: lightskyblue;
   color: white;
   box-shadow: 5px 10px;
   margin-bottom: 6%;
   box-shadow: 3px 3px 3px rgb(0 0 0 / 10%);
   display: flex;
   flex-direction: row;
}

.products-span{
    display: grid;
    grid-template-columns: 50% 50%;
}


.products-landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10%; 
    /* margin-top: 15%; */
     flex: 1 1 150px; /* stretch: */
     flex: 0 1 150px; 
    /* font-size: 12px; */
    border-radius: 10px;
 
    
    

  }

  .products-landing-span{
      display: grid;
      grid-template-columns: 50% 50%;
  }

  .products-landing img{
    grid-column: 1/2;
    height: 30vh;
    object-fit: cover;
    width: 100%;
    place-self: center;
    
}


.products {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 2%;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 5% ;
    margin-right: 5%;
    margin-bottom: 3%; */
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10%; 
    /* margin-top: 15%; */
     flex: 1 1 150px; /* stretch: */
     flex: 0 1 150px; 
    /* font-size: 12px; */
    border-radius: 10px;
 
  }

.products img{
    height: 30vh;
    object-fit: cover;
    width: 100%;
    place-self: center;
}
.myprod {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10%; 
    /* margin-top: 15%; */
     flex: 1 1 150px; /* stretch: */
     flex: 0 1 150px; 
    /* font-size: 12px; */
    border-radius: 10px;
  }

  .adding-product{
      margin-left: 30%;
      margin-top: 20%;
      width: 100%;
      border: 2px solid lightskyblue;
      background-color: lightskyblue;
      border-radius: 10px;
  }


  .adding-product input{
     width: 100%; 
  }

.myprod img{
    height: 30vh;
    object-fit: cover;
    width: 100%;
    place-self: center;
    grid-column: 1/2;
}

.all-modal{
    margin-left: 15%;
    font-size: 15px;
}

.all-modal img{
    height: 30vh;
    object-fit: cover;
    margin-left: 10%;
}

/* landing page image styling */
.sale img{
    height: 40vh;
    
    object-fit:cover;
    margin-top: 2%;
    margin-left: 35%;
    
}
.sale{
    height: 100%;
    
}
.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 10%;
}
.brands img{
    width: 8%;
}

.footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 7%;
    margin-right: 1%;
}
/* form styling */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin-left: 5%;
    /* height: 100vh; */
  }

/* myprod page */
.myprod-container h1{
    margin-left: 45%;
    margin-top: 5%;
}

.conimage{
    display: none;
}

.all-buttons{
    display: flex;
    flex-direction: row;
    margin-left: 36%;
    gap: 2px; 
}

.all-buttons button {
    background-color: white;
    border-radius: 3px;
    border: 3px solid white;
    padding: 2px;
    margin-left: 5px;
}

.all-buttons button:hover{
    background-color: lightskyblue;
    color: white;
}

.regbutton {
    background-color: lightskyblue;
    border-radius: 3px;
    border: 2px solid white; 
    padding: 3px;
    margin-left: 1px;
    color: white;
    font-size: 12px;
    /* margin-right: 0.5%; */
}

.regbutton:hover{
    background-color: lightskyblue;
    color: white;
}

.view-product{
    /* width: 50%; */
    /* font-size: 10px; */
}


.footer-new{
    background-color: lightskyblue;
    font-size: 40px;
    color:white;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    /* margin-top: 5%; */
    font-weight: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* margin-top: 5%; */
}

.footer-new-cart{
    background-color: lightskyblue;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 5%;
    font-weight: 100;
    position: absolute;
    bottom: 0; 
    width: 100%;
}

.footer-new-cart i{
    margin-left: 3%;  
}

.footer-new i {
    margin-left: 3%;
}

.section-new{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-bottom: 5%; 
    margin-top: 5%;
}

.trigger{
    background-color: white;
    padding: 1px;
    /* margin-left: 28%; */
    margin-top: 10%;
    border: 2px solid white;
    border-radius: 5px;
    background-color: lightskyblue;
    color: white;
    width: 100%;
}

.trigger:hover{
    color: lightskyblue;
    background-color: white;;
}


.add-to-cart{
    background-color: white;
    padding: 3px;
    /* margin-left: 28%; */
    margin-top: 10%;
    border: 2px solid white;
    border-radius: 5px;
    background-color: lightskyblue;
    color: white;
    width: 100%;
}

.delete-user{
    background-color: white;
    padding: 3px;
    /* margin-left: 28%; */
    /* margin-top: 10%; */
    border: 2px solid white;
    border-radius: 5px;
    background-color: lightskyblue;
    color: white; 
}

.delete-user:hover{
    color: lightskyblue;
    background-color: white;
}

.delete-item{
    background-color: white;
    padding: 1px;
    /* margin-left: 28%; */
    /* margin-top: 10%; */
    border: 2px solid white;
    border-radius: 5px;
    background-color: lightskyblue;
    color: white; 
    width: 100%;
}

.delete-item:hover{
    color: lightskyblue;
    background-color: white;
}


.add-to-cart:hover{
    color: lightskyblue;
    background-color: white;
}

.bottom{
    padding: 10px;
    border-radius: 10px;
    margin-top: 3%;
    width: 100%;
    font-size: 15px;
    grid-column: 2/3;

}

.bottom h3{
    font-size: 13px;
}




.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color :white;
  color: lightskyblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  flex-direction: column;
  color: white;
  text-decoration: none;
}

.dropdown-content a{
    text-decoration: none;
    color: lightskyblue;
    margin-top: 5%;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.map{
    /* margin-bottom: 2.5%; */
    margin-top: -3.4vh;
    /* margin-left: 18%; */
}



/* media resp */
 @media(max-width:1340px) {
     .products-landing{

        display: flex;
       
        justify-content: center;
        align-items: center;
        /* gap: 10px; */
        padding: 10px 10%; 
        /* margin-top: 2%; */
         flex: 1 1 150px; /* stretch: */
         flex: 0 1 150px; 
        font-size: 12px;
        border-radius: 10px;
        /* margin-left: ; */

     }

     .products{
         margin-top: 10%;
         gap:1px;
     }

     .products-landing img{
        height: 20vh;
        object-fit: cover;
        width: 50%;
        margin-left: 25%;
     }

     .myprod{
         margin-top: 12%;
         margin-bottom: 5%;
         gap:1px;
     }

     .all{
         width: 250px;
         margin-top: 14%; 
     }

     .all-buttons{
         display: none;
     }

     .login-form{
         display: flex;
         flex-direction: row; 
        /* justify-content: flex-end; */
        background-color:lightskyblue;
        /* margin-top: 16px; */
        /* margin-left: 100px; */
        width: 100vw;
       
        }

    .login-form label{
    color: white;
}

.login-form button{
    
    background-color: white;
    border-radius: 3px;
    border: 3px solid white;
    padding: 1px;
    /* margin-right: 5px; */
    background-color: lightskyblue;
    color: white;

    /* width: 7%; */
}

.login-form button:hover{
    color: lightskyblue;
    background-color: white;
}

.login-form a {
    text-decoration: none;
    color: white;
}

.login-form input{
    border: 3px solid white;
    color: grey;
}

.login-form label{
    display: none;
}

.under-div{
        display: none;
}
 
.index-nav{
    display: none;
}

.topnav{

    background-color:lightskyblue;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
    position: fixed;
    top: 0;
    left: 0;
    /* right: 0; */
    /* overflow: visible; */
    z-index: 20;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 10%);
    /* margin-bottom: 5%; */
    height: 7vh;
    width: 100vw;
    font-size: 10px;

}

.topnav a {
    font-size: 13px;
    margin-top: 10px;
}
.trigger-new{
    display: none;
}

.map{
    /* margin-bottom: 2.5%; */
    /* margin-top: -3.4vh; */
    /* margin-left: 18%; */
    width: 100%;
}

.register-container {
    width: 100%;
    justify-self: center;
    border: 2px solid lightskyblue;
    padding: 1%;
    height: 52vh;
    background-color: lightskyblue;
    /* text-align: center; */
    color: white;
    border-radius: 10px;



 }

 .regbutton{
     margin-left: -6px;
     /* padding: 10px; */
 }
}